.destinations {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  &__cards {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    &--card {
      height: 45rem;
      width: 32.5rem;
      margin: 1rem;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      background-position: center;
      background-size: cover;

      &--australia {
        background-image: linear-gradient(
            transparent 50%,
            rgba($color-black, 0.75) 100%
          ),
          url(../img/compressed/pop-destination-1-min.jpg);
      }
      &--peru {
        background-image: linear-gradient(
            transparent 50%,
            rgba($color-black, 0.75) 100%
          ),
          url(../img/compressed/pop-destination-2-min.jpg);
      }
      &--costarica {
        background-image: linear-gradient(
            transparent 50%,
            rgba($color-black, 0.75) 100%
          ),
          url(../img/compressed/pop-destination-3-min.jpg);
      }
      &--thailand {
        background-image: linear-gradient(
            transparent 50%,
            rgba($color-black, 0.75) 100%
          ),
          url(../img/compressed/pop-destination-4-min.jpg);
      }
    }
    &--btn {
      background: none;
      border: none;
      text-decoration: underline;
      text-transform: uppercase;
      color: $color-white;
      font-family: $default-font;
      width: 8rem;
      text-align: left;
      cursor: pointer;
      &:focus {
        outline: none;
      }

      &:hover {
        text-decoration: none;
      }
    }
  }
  &__button {
    border: none;
    height: 5rem;
    width: 25rem;
    background-color: $color-main;
    border: 2px solid $color-main;
    text-transform: uppercase;
    font-family: $default-font;
    font-weight: 600;
    color: $color-white;
    margin: 5rem 0 5rem 0;
    cursor: pointer;
    transition: all 0.2s;

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: transparent;
      color: $color-main;
    }
  }
}

@media only screen and (max-width: $bp-phone) {
  .destinations {
    &__cards {
      &--card {
        width: 30rem;
        height: 40rem;
      }
    }
  }
}
