.black {
  color: $color-black;
}

.green {
  color: $color-main;
  font-weight: 600;
  font-size: 1.25rem;
}

.padding-bottom-05rem {
  padding: 0 0 0.5rem 0;
}

.uppercase {
  text-transform: uppercase;
}
