//////////////////////////////////////////////////////
// TOP NAV SECTION

.info {
  width: 100%;
  height: 6vh;
  background-color: $color-white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5rem;
  border-bottom: $nav-border;

  &__list {
    display: inline-flex;
    list-style: none;

    &--item {
      padding-left: 1rem;
      color: $color-grey-1;

      &:not(:first-child) {
        border-left: $nav-border;
        margin-left: 1rem;
      }
    }

    &--link {
      text-decoration: none;
      color: $color-grey-1;
      transition: color 0.3s;
      &:hover {
        color: $color-main;
      }
    }
  }
}
@media only screen and (max-width: $bp-tablet) {
  .info {
    display: none;
  }
}

//////////////////////////////////////////////////////
// MAIN NAV SECTION

.nav {
  width: 100%;
  height: 10vh;
  background-color: $color-white;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.5rem 0 2.5rem;

  // Logo
  &__logo {
    height: 5rem;
  }

  // Container with list and search bar
  &__main {
    display: inline-flex;
    align-items: center;
  }
  // List section
  &__list {
    display: inline-flex;
    list-style: none;
    margin-right: 2rem;
    &--item {
      padding: 0 1rem 0 1rem;
      font-size: 1.25rem;
    }
    &--link {
      text-decoration: none;
      text-transform: uppercase;
      color: $color-secondary;
      font-weight: 600;
      background-image: linear-gradient($color-main);
      background-repeat: no-repeat;
      background-size: 0 0.5rem;
      background-position: 0 130%;
      transition: background-size 0.25s ease-in;

      &:hover {
        background-size: 100% 0.5rem;
      }
    }
    &__mobile {
      &--info {
        display: none;
      }
    }
  }

  // Search Bar
  &__search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem 0 1rem;
    height: 3rem;
    width: 20rem;
    border-radius: 50rem;
    border: 1px solid $color-main;

    &--text {
      border: none;
      background: none;
      font-family: $default-font;

      &:focus {
        outline: none;
      }
    }
    &--submit {
      width: 2rem;
      height: 2rem;

      &-btn {
        opacity: 0;
        position: absolute;
        width: 2rem;
        height: 2rem;
        cursor: pointer;
      }
      &-icon {
        height: 2rem;
      }
    }
  }
  &__mobile-icons {
    display: none;
  }
}

// This media query makes the nav list show on desktop after the mobile nav is activated
@media only screen and (min-width: 1024px) {
  .nav {
    &__list {
      display: inline-flex !important;
    }
  }
}

@media only screen and (max-width: $bp-tablet) {
  .nav {
    justify-content: space-between;

    &__logo {
      height: 4rem;
    }

    &__search {
      width: 50vw;
    }

    &__list {
      display: none; //So I can make it appear with js
      width: 100%;
      height: 90vh;
      top: 10vh;
      right: 0;
      margin: 0;

      position: absolute;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: $color-white;

      &--item {
        padding: 3rem;
      }
      &--link {
        font-size: 2rem;
        background-size: 0 0.5rem;
        background-position: 0 110%;
        // background: none;
      }
    }
    // Mobile Menus
    &__mobile-icons {
      display: flex;
      justify-content: center;
      align-items: center;
      &--icon {
        margin: 0 0.5rem 0 0.5rem;
        & svg {
          fill: $color-secondary;
          height: 3rem;
          width: 3rem;
        }
      }
      &__info {
        position: absolute;
      }
    }
  }
  .hamburger {
    cursor: pointer;
    &__line {
      height: 0.3rem;
      width: 2.5rem;
      background-color: $color-secondary;
      &--1 {
        margin-bottom: 0.4rem;
      }
      &--3 {
        margin-top: 0.4rem;
      }
    }
  }
}

@media only screen and (max-width: $bp-phone) {
  .nav {
    &__logo {
      transform: scale(0.9);
      margin-right: 1rem;
      padding-bottom: 0.5rem;
    }
    &__mobile-icons {
      transform: scale(0.75);
    }

    &__search {
      &--text {
        width: 10rem;
        font-size: 1.2rem;
      }
    }
  }
}
